@font-face {
    font-family: "Rebellion Knight";
    src: url("../assets/fonts/Rebellion Knight Personal Use Only.ttf");
}

@font-face {
    font-family: "TenorSans";
    src: url("../assets/fonts/TenorSans-Regular.ttf");
}

*{
    font-family: "Roboto";
}

h1{
    font-family: "Rebellion Knight";
}

main {
    background-color: #e7e9f1;
}

footer a{
    font-weight: 600;
    color: #666 !important;
    text-decoration: none;
    border: 0;
}