@font-face {
    font-family: "Rebellion Knight";
    src: url("../assets/fonts/Rebellion Knight Personal Use Only.ttf");
}

@font-face {
    font-family: "TenorSans";
    src: url("../assets/fonts/TenorSans-Regular.ttf");
}

*{
    font-family: "Roboto";
}

h1{
    font-family: "Rebellion Knight";
}

main {
    background-color: #e7e9f1;
}

.loading-section{
    height: 50%;
}

footer a{
    font-weight: 600;
    color: #666 !important;
    text-decoration: none;
    border: 0;
}

/* Hover DataTable */
.theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
    background: #e1ebf3 !important;
}

/* Transitions */
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}

/* Loaders */

.custom-loader {
    animation: loader 1s infinite;
    display: flex;
}
@-moz-keyframes loader {
from {
    transform: rotate(0);
}
to {
    transform: rotate(360deg);
}
}
@-webkit-keyframes loader {
from {
    transform: rotate(0);
}
to {
    transform: rotate(360deg);
}
}
@-o-keyframes loader {
from {
    transform: rotate(0);
}
to {
    transform: rotate(360deg);
}
}
@keyframes loader {
from {
    transform: rotate(0);
}
to {
    transform: rotate(360deg);
}
}
